html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 240%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

/* -------------------- */
/*    ALL PAGES NAV     */
/* -------------------- */

nav {
    background-color: #222222;
}

nav button {
    color: #fff;
}


/*
nav {
    list-style-type: none;
    margin: 0;
}


.navbar li {
    color: #fff;
    display: inline;
    font-weight: 600;
    font-size: 75%;
    margin-right: 25px;
    text-transform: uppercase;
}

.nav li a:hover {
    text-decoration: none !important;
}*/

/* -------------------- */
/*       CLEARFIX       */
/* -------------------- */

.clearfix {
    clear: both;
}

/* -------------------- */
/*        FOOTER        */
/* -------------------- */
 
.footer {
    background-color: #333;
    padding: 20px 0;
}

.footer p {
    text-align: center;
    border: none;
}

@media media-breakpoint-up(sm) { 
    .social-mobile {
        display: none;
    }
    .social img {
        height: 60px;
    }
}

@include media-breakpoint-down(xs) {
    .social-fullscreen {
        display: none;
    }
    .social img {
        height: 75px;
    }
}



/* -------------------- */
/*   BACKGROUND IMAGE   */
/* -------------------- */

.intro {
    padding-top: 30px;
    -webkit-filter: grayscale(1);
    filter:grayscale(1);
   /* background-position: 50% !important;*/
    height: 450px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22sm.jpeg) no-repeat top center fixed;
}

@media only screen and (max-width : 565px) .home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22med.jpeg) no-repeat top center fixed;
    height: 650 px;
}

@media only screen and (max-width : 767px) .home-intro, 
@media only screen and (max-width : 979px) .home-intro,
@media only screen and (max-width : 1200px) .home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22lg.jpg) no-repeat center center fixed;
    height: 750px; 
}
/*

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) .home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22sm.jpeg) no-repeat top center fixed;
    height: 450px; 
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) .home-intro

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) .intro, @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) .intro {
    height: 450px;
}
*/
    
.about-intro {
    background: url(https://s3-us-west-2.amazonaws.com/cyr/mar28-23.jpg) no-repeat center center fixed;
}

.performance-intro {
    background: url(https://s3-us-west-2.amazonaws.com/cyr/mar28-17.jpg) no-repeat center center fixed;
}

.coaching-intro {
    background: url(https://s3-us-west-2.amazonaws.com/cyr/mar28-16.jpg) no-repeat center center fixed;
}

.follow-intro {
    background: url(https://s3-us-west-2.amazonaws.com/cyr/mar28-16.jpg) no-repeat center center fixed;
}


/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) .home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22sm.jpg) no-repeat bottom center fixed;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) .home-intro {
    background: url(https://hierologic-influenc.000webhostapp.com/img/mar28-22sm.jpg) no-repeat bottom center fixed;
}

/* 
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* -------------------- */
/*    INTRO TEXT BOX    */
/* -------------------- */


.main {position: relative;
    top: 100px;
    text-align: center;
 /* box for contrast */
    padding: 25px 0 10px 0;
    background-color: rgba(255, 255, 255, 0.52); 
    border-radius: 5px;
    width: 75%;
}

.home {
 /* box for contrast */
    padding-bottom: 50px;
}

h1 {
    color: #333;
    font-weight: 600;
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/* --------------------- */
/*    SUPPORTING TEXT    */
/* --------------------- */

.supporting {
    padding-top: 80px;
    padding-bottom: 100px;
}

.supporting .col {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 50px;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.supporting p {
    margin-bottom: 40px;  
}

/* ----------------------- */
/*         BUTTONS         */
/* ----------------------- */

/* Intro button */

.btn-main:link,
.btn-main:visited, 
.btn-main:hover, 
.btn-main:active {
    background-color: #333;
    color: #fff;
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 1.3px;
    padding: 3%;
    text-transform: uppercase;
    text-decoration: none;
}

/* Buttons for content */

.btn-default {
    border: 1px solid #333;
    color: #000;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-transform: uppercase;  
    display: inline-block;
}

a.btn-default:hover,
a.btn-default:active {
    text-decoration: none;
}
